/*body {
  margin: 0;
  background-image: url(../images/WhiteTexturebackground.png);
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}*/
.navbar-toggler {
  border: 0;
}
.navbar-toggler-icon {
  color:#16AE85 !important;
}
.customNav {
  background-image: url(../images/WhiteTexturebackground.png);
}
.navbar-nav {
  margin-left: auto;
  margin-right: 0 !important;
}
.nav-item {
  margin: 0px 15px;
}

/* Navigation dropdown menu */
.dropdown-menu {
  background-color: rgba(255, 255, 255, 0.8)!important;
  align-content: center;
  color: #064f5f;
  width: 90px;
  margin-top: 10px;
  transition: all 0.3s ease;
}
.dropdown-item {
  font-family: "Exo Light", Arial !important;
  background-color: rgba(255, 255, 255, 0.8)!important;
}
.dropdown-divider {
  color: #064f5f;
}
.dropdown-item:focus, .dropdown-item:hover {
    font-family: "Exo Medium", Arial !important;
    color:#16AE85 !important;
    background-color: rgba(255, 255, 255, 0.8)!important;
}
.customNav a {
  color:#064f5f !important;
}
.nav-link {
  grid-area: hover;
  font-family: "Exo Light", Arial;
  color: #064f5f;
  height: 30px;
  align-items: center;
  margin-top: 30px;
  transition: all 0.3s ease;
}
/*active state*/
.nav-link:hover {
  font-family: "Exo Medium", Arial;
  color:#16AE85 !important;
}
/*visited state*/
a:visited {
  display:inline-block;
  border-bottom: 2px solid #16AE85;
}
/*Home button*/ 
.navHome img.home {
  width: 85%;
  border: 0;
  padding-left: 30px;
  padding-right: 70px;
  margin: 10px;
  margin-top: 20px;
}
.navHome:hover img.home {
  display:none;
}
.navHome img.hover {
  display:none;
}
.navHome:hover img.hover {
  display:block;
}


.content {
  margin: auto;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  position:relative;
  align-items: center;
  justify-content: center;
}

h3 {
  font-family: "Exo Light", Arial;
  color:#16AE85;
  font-size: 26px;
}
p {
  font-family: "Exo Light", Arial;
  min-width: 300px;
  color:#064f5f;
  text-align: left;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  max-width: 800px;
}
.buttonsTop {
  display:grid;
  grid-template-rows: 1fr;
  grid-template-columns: .75fr 1fr;
  column-gap: 0px;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
}
/*UX/UI button*/ 

.button1 img.uxui {
  padding-right: 0px;
  height: 61px;
}
.button1:hover img.uxui {
  display:none;
}
.button1 img.hover {
  display:none;
}
.button1:hover img.hover {
  display:block;
}
/****/

/*Beyond button*/ 
.button2 img.beyond {
  padding-left: 0px
}
.button2:hover img.beyond {
  display:none;
}
.button2 img.hover {
  display:none;
}
.button2:hover img.hover {
  display:block;
}
/****/
.Herospace {
  clear: both;
  position: relative;
  align-items: left;
}
.Heroimage img{
  position: relative;
  width: 100%;
  animation: HeroAnimation 1.75s forwards;
  animation-duration: 1.75s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-delay: 2s;
}
/*Work/About/Inquire pages */
.content h1 {
  margin: 0px;
  padding: 0px;
  font-family: 'Exo Light', Arial;
  font-size: 50px;
  text-align: center;
  color: #16AE85;
}
.content h2 {
  margin: 0px;
  padding-top: 5px;
  font-family: 'Exo Light', Arial;
  font-size: 24px;
  text-align: center;
  color: #064F5F;
}
/*WorkMain*/

.cardContainer {
  transform: scale(90%);
  margin: auto;
  padding-top: 5px;
  position:relative;
  align-items: center;
  justify-content: center;
  
}

/*RockaFairy link*/ 
.RockaFairyMain img.RockaFairy {
  cursor: pointer;
}
.RockaFairyMain:hover img.RockaFairy {
  display:none;
}
.RockaFairyMain img.hover {
  display:none;
}
.RockaFairyMain:hover img.hover {
  display:block;
}
/****/

/*TicTacGo link*/ 
.TicTacGoMain img.TicTacGo {
  cursor: pointer;
}
.TicTacGoMain:hover img.TicTacGo {
  display:none;
}
.TicTacGoMain img.hover {
  display:none;
}
.TicTacGoMain:hover img.hover {
  display:block;
}
/*About pages*/
.Aboutpreflight {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.paragraph {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px; 
}
.arrow {
  width: 20px;
}
.Descriptives {
  display: inline-block;
  justify-content: center;
  font-family: 'Exo Medium', Arial;
  font-size: 21px;
  text-align: center;
  color: #16AE85;
}
.Descriptives ul {
  padding: 0px 10px 0px 10px;
  list-style-type: none;
}
.Descriptives li {
  padding: 10px;
}
/*Resume button*/ 
.resume img.resumeButton {
  align-items: center;
  justify-content: center;
  padding-left: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.resume:hover img.resumeButton {
  display:none;
}
.resume img.hover {
  display:none;
}
.resume:hover img.hover {
  display:block;
}

/*Inquire pages */
.gmail {
  transform: scale(80%); 
  text-align: center;
  align-items: center;
  cursor: pointer;
}
.LinkedIn {
  transform: scale(80%);
}
.ContactForm {
  justify-content: center;
  align-items: center;
  font-family: 'Exo Light', Arial !important;
  color:#064F5F;
  font-size: 24px;
  text-align: center;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 20px;
  
}
.btn-primary {
  color:#f8d782 !important;
  background-color: #064F5F;
  cursor: pointer;
  
}
.btn-primary:hover {
  color: white !important;
  background-color: #16AE85;
}
#LinkedInlink {
  color:#16AE85;
  padding-bottom: 20px;
}

/*Casestudy pages*/
.CasestudyTop {
  position: relative;
  width: 100%;
  margin: auto;
}
.CasestudyIntro {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 750px;
  padding: 30px;
  margin: auto;
}
.ResearchTitle {
  font-family: 'Exo Medium', Arial;
  padding-bottom: 20px;
  padding-left: 30px;
  text-align: left;
  
}
.ResearchText {
  
  padding-left: 30px;
}
.quote {
  grid-area: "quote";  
  font-family: 'Exo Medium', Arial;
  padding-top: 20px;
  padding-left: 30px;
  font-size: 15px;
  text-align: left;
  color: #16AE85;
  
}
/*.UserPersona {
  margin: auto;
  /*width: 90%;
  display: flex;
  grid-area: "UserPersona";
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
  
}
.user {
  max-width: 600px;
}
.Stage1 {
  grid-area: "Stage1";
}
.CaseStudyPart1 {
  margin-top: 20px;
  margin-bottom: 20px;
  display:grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "Stage1"   "UserPersona";
}
.Stage2 {
  grid-area: "Stage2";
}
.DefinitionTitle {
  grid-area: "DefinitionTitle";
  font-family: 'Exo Medium', Arial;
  padding-bottom: 20px;
  padding-left: 30px;
  text-align: left;
  margin: auto;
}
.CaseStudyPart2 {
  margin-top: 50px;
  margin-bottom: 20px;
  display:grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "Defineparts" "Stage2";
}
.Defineparts {
  grid-area: "Defineparts";
  position: relative;
  align-items: left;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
}
.DefineText {
  margin: auto;
  padding-left: 30px;
  padding-right: 20px;
}
.define {
  max-width: 600px;
}
.Stage3Title {
  font-family: 'Exo Medium', Arial;
  padding-bottom: 20px;
  padding-left: 30px;
  text-align: left;
  margin: auto;
}
.TestingText {
  margin: auto;
  padding-left: 30px;
}
.Sitemap {
  grid-area: "Sitemap";
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}
.map {
  max-width: 600px;
}
.Stage3 {
  grid-area: "Stage3";
}
.CaseStudyPart3 {
  margin-top: 30px;
  margin-bottom: 20px;
  display:grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "Stage3"   "Sitemap";
}
.Wireframes {
  position:relative;
  margin: 0px auto;
  width: 100%;
  margin: 10px;
  padding: 20px;
}
.Stage4 {
  grid-area: "Stage4";
  justify-content: center;
}
.IdeationTitle {
  grid-area: "IdeationTitle";
  font-family: 'Exo Medium', Arial;
  padding-bottom: 20px;
  padding-left: 30px;
  text-align: left;
  margin: auto;
}
.CaseStudyPart4 {
  margin-top: 50px;
  margin-bottom: 20px;
  display:grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "Ideationparts" "Stage4";
}
.Ideationparts {
  clear: both;
  grid-area: "Ideationparts";
  position: relative;
  align-items: right;
  padding-left: 20px;
  padding-right: 20px;
}
.IdeationText {
  margin: auto;
  text-align: left;
  padding-left: 30px;
  padding-right: 20px;
}
.ideate {
  max-width: 600px;
  padding: 20px;
}
.EventCards {
  position:relative;
  margin: 0px auto;
  width: 100%;
  padding: 20px;
  width: 75%;
}
.CaseStudyPart5 {
  margin-top: 30px;
  margin-bottom: 20px;
  display:grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "Stage5"   "Prototype";
}
.Stage5 {
  grid-area: "Stage5";
  justify-content: center;
}
.Stage5Title {
  grid-area: "Stage5Title";
  font-family: 'Exo Medium', Arial;
  padding-bottom: 20px;
  padding-left: 30px;
  text-align: left;
  margin: auto;
}
.Prototype {
  grid-area: "Prototype";
  position: relative;
  align-items: left;
  padding-left: 20px;
  padding-right: 20px;
}
.PrototypingText {
  margin: auto;
  text-align: left;
  padding-left: 30px;
  padding-right: 20px;
  min-width: 500px;
}*/
.Mainsample {
  max-width: 600px;
  padding: 20px;
}
/*.FinalPrototypes {
  display: inline-flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  margin-left: 20px;
  margin-bottom: 30px;
  justify-content: space-around;
  justify-content: space-between;
  padding-inline: 20px;
}*/
.Finale {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 750px;
  padding-top: 20px;
  padding-bottom: 15px;
  margin: auto;
}
.FinalText {
  margin: 20px;
  padding: 20px;
}
.FinalPreview {
  padding: 30px;
}
.Figmalink {
  color:#16AE85 !important;
  font-family: 'Exo Medium', Arial;
}
.Figmalink:hover {
 color:#064F5F;
 font-family: 'Exo Medium', Arial;
}
#Figma {
  transform: scale(75%);
  padding: 10px;
}
/**Skills section**/
.SkillsFeather img{
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  animation: SkillsAnimation 1.75s backwards;
  animation-duration: 1.75s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-delay: 6s;
}
.skillsContent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: baseline;
  margin-right: 20px;
  margin-bottom: 20px;
}
.skillsContent h1,h2 {
  padding: 0px 10px 0px 10px;
  font-family: 'Exo Light', Arial;
  font-size: 41px;
  text-align: right;
  color: #16AE85;
}
.skillsContent li {
  list-style-type: none;
  font-family: 'Exo Medium', Arial;
  font-size: 21px;
  text-align: left;
  color: #064F5F;
}
.skillsContent h3,h4 {
  padding: 0px 10px 0px 10px;
  font-family: 'Exo Light', Arial;
  font-size: 41px;
  text-align: right;
  color: #16AE85;
}

/* Tools section */
.Section_Tools {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Hdr_Tools {
  padding-bottom: 30px;
  font-family: 'Exo Light', Arial;
  font-size: 40px;
  color:#16AE85;
}
.Tool {
  padding-inline: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.ToolIcons {
  display: grid;
  grid-area: hover;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  margin: 20px;
  align-items: baseline;
  justify-content: center;
}
/* ---- */

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; 
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color:#16AE85; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer;
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px;
}

#myBtn:hover {
  background-color:#064F5F; 
  color: #f8d782;
}

.footer {
  display:flex;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 10px;
  justify-content: center;
  align-items: center;
  font-family: "Exo Medium", Arial;
  font-size: 10px;
  color: #064f5f;
}

/* Image Animation slide in? :) */
@keyframes HeroAnimation {
  0% {
    transform: translate(-1900px);
}
  100% {
    transform: translate(0);
}
}
/* Image Animation slide in#2 */
@keyframes SkillsAnimation {
  0% {
    transform: translate(1900px);
}
  100% {
    transform: translate(0);
}
}
/*--Preloader--*/
.preloader{
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 100000;
  background-color: white;
  top:0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.preloader img{
  animation: myAnimation 3s ease;
  width: 150px;

}
@keyframes myAnimation {
  0% {
    transform: rotate(0deg);
}
  50% {
  transform: rotate(360deg);
}
  100% {
    transform: rotate(720deg);
}

}
/****/

/* Media Query :)*/ 
@media only screen and (max-width: 600px){
  
  .navbar {
    margin: 0 auto;
    padding: 0px;
    font-size: 15px;
    display: inline-flex;
    float:right;
    width: 100%;
  }
  .nav-link {
    align-items: center;
  } 
  .navHome {
   transform: scale(10%);
   
  }
.buttonsTop {
  transform: scale(50%)
}
  .Heroimage {
    margin: auto;
    padding: 0 px;
  }
  .Section1 {
    margin: 0px;
    padding: 0px;
  }
  .content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: scale(90%);
  }
  .footer {
    transform: scale(75%);
  }
  /*Work/About pages */
  .content h1 {
    padding: 0px;
    font-size: 35px;
    text-align: center;
  }
  .preflight {
    padding-top: 10px;
    transform: scale(70%);
  }
  .titleline {
    transform: scale(70%);
  }
  .Section_Workgroup {
    display: flex;
    flex-direction: column;
    padding:10px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;
  }
  .resume {
    transform: scale(70%);
    align-items: center;
  }
  .arrow {
    transform: scale(70%);
  }
  .end {
    transform: scale(70%);
  }
  .AboutText {
    margin: 0px auto;
    font-size: 15px;
  }  
  .Descriptives {
    font-size: 15px;
  }
  .Descriptives ul {
    margin: 0px auto;
  }  
  .skillsContent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0px auto;
  }
  .skillsContent h1,h2 {
    font-size: 25px;
    text-align: center;
    margin: 0px auto;
  }
  .skillsContent ul {
    text-align: center;
    margin: 0px auto;
    padding-right: 40px;
  }
  .skillsContent li {
    font-size: 18px;
    text-align: center;
    margin: 0px auto;
  }
  .skillsContent h3,h4 {
    font-size: 25px;
    text-align: center;
    margin: 0px auto;
  }
  .Section_Tools {
    align-items: center;
  }  
  .Hdr_Tools {
  font-size: 25px;
  }
  .FinalPrototypes {
    max-width: 600px;
  }
  .FinalPreview {
    transform: scale(70%);
  }
  .ToolIcons {
    display: grid;
    width: 75%;
    grid-area: hover;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    align-items: baseline;
    justify-content: center;
  }
}


