body {
  margin: 0;
}
.navbar {
  font-family: "Exo Light", Arial;
  display: flex;
  flex-direction: row-reverse;
  float: right;
  align-items:center;
  position: relative;
  font-size: 20px;
  color:#064f5f;
  cursor: pointer;
}
.nav-link {
  grid-area: hover;
  width: 128px;
  height: 48px;
  align-items: center;
  padding-inline: 20px;
  margin-bottom: 0px;
  margin-top: 30px;
  transition: all 0.3s ease;
}
/*active state*/
.nav-link:hover {
  font-family: "Exo Medium", Arial;
  color:#16AE85 !important;
}
/*visited state*/
a:visited {
  display:inline-block;
  border-bottom: 2px solid #16AE85;
}
#navbarDropdown {
  align-content: center;
  color: #064f5f;
  background-color: white;
  width: 128px;
  height: 48px;
  margin-top: 30px;
  transition: all 0.3s ease;
}
.dropdown-menu {
  margin: auto;
}
/*active state */
.dropdown-item:hover {
  font-family: "Exo Medium", Arial;
  color:#16AE85;
}
/*Home button*/ 
.navHome img.home {
  width: 85%;
  border: 0;
  padding-left: 30px;
  padding-right: 70px;
  margin: 10px;
  margin-bottom: 0px;
}
.navHome:hover img.home {
  display:none;
}
.navHome img.hover {
  display:none;
}
.navHome:hover img.hover {
  display:block;
}
/****/
.Herospace {
  clear: both;
  position: relative;
  align-items: left;
}
.herophotoWork {
  width: 100%;
}
.WingWork img{
  position: relative;
  width: 100%;

}
.content {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content h1 {
  margin: 0px;
  padding: 0px;
  font-family: 'Exo Light', Arial;
  font-size: 50px;
  text-align: center;
  color: #16AE85;
}
.content h2 {
  margin: 0px;
  padding-top: 5px;
  font-family: 'Exo Light', Arial;
  font-size: 24px;
  text-align: center;
  color: #064F5F;
}
.Section_Workgroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  padding-top: 15px;
}
/*RockaFairy link*/ 
.RockaFairyMain img.RockaFairy {
  
  cursor: pointer;
}
.RockaFairyMain:hover img.RockaFairy {
  display:none;
}
.RockaFairyMain img.hover {
  display:none;
}
.RockaFairyMain:hover img.hover {
  display:block;
}
/****/

.ODFW {
  margin: 0px auto;
  
}
/*TicTacGo link*/ 
.TicTacGoMain img.TicTacGo {
  
  cursor: pointer;
}
.TicTacGoMain:hover img.TicTacGo {
  display:none;
}
.TicTacGoMain img.hover {
  display:none;
}
.TicTacGoMain:hover img.hover {
  display:block;
}
/****/

.SkillsFeather img{
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
}
.SkillsContent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: baseline;
}
.SkillsContent h1,h2 {
  padding-right: 10px;
  font-family: 'Exo Light', Arial;
  font-size: 41px;
  text-align: right;
  color: #16AE85;
}
.SkillsContent li {
  list-style-type: none;
  font-family: 'Exo Medium', Arial;
  font-size: 21px;
  text-align: left;
  color: #064F5F;
}
.SkillsContent2 {
  margin: 0px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr .5fr;
  align-items: baseline;
}
.SkillsContent2 h3,h4 {
  padding-right: 10px;
  font-family: 'Exo Light', Arial;
  font-size: 41px;
  text-align: right;
  color: #16AE85;
}
.SkillsContent2 li {
  list-style-type: none;
  font-family: 'Exo Medium', Arial;
  font-size: 21px;
  text-align: left;
  color: #064F5F;
}
/* Tools section */
.Section_Tools {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Hdr_Tools {
  padding-bottom: 30px;
  font-family: 'Exo Light', Arial;
  font-size: 40px;
  color: #064F5F;
}
.Tool {
  font-family: 'Exo Light', Arial;
  color: white;
  font-size: 12px;
  text-align: center;
}
.Tool:hover {
  font-family: 'Exo Light', Arial;
  color: #064F5F;
  font-size: 12px;
  text-align: center;
  transition: all 0.3s ease;
}
.ToolIcons {
  display: grid;
  grid-area: hover;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  padding-inline: 10px;
  margin-bottom: 20px;
  margin-top: 30px;
  align-items: baseline;
  justify-content: center;
  text-align: center;
}
/* ---- */

.footer {
  display:flex;
  flex-direction: column;
  padding-top: 100px;
  justify-content: center;
  align-items: center;
  font-family: "Exo Medium", Arial;
  font-size: 10px;
  padding-bottom: 20px;
  color: #064f5f;
}
/*--Preloader--*/
.preloader{
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 100000;
  background-color: white;
  top:0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.preloader img{
  animation: myAnimation 3s ease;
  width: 150px;

}
@keyframes myAnimation {
  0% {
    transform: rotate(0deg);
}
  50% {
  transform: rotate(360deg);
}
  100% {
    transform: rotate(720deg);
}

}
/****/

/* Media Query :) */
@media only screen and (max-width: 600px) {
  
  .navbar {
    margin: 0px auto;
    padding-left: 20px;
    font-size: 15px;
    align-items: center;
  }
  .nav-link {
    padding-inline: 10px;
  }
  .navHome {
    padding-left: 20px;
    padding-right: 20px;
    transform: scale(75%);
  }
  .content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .content h1 {
    padding: 0px;
    font-size: 25px;
    text-align: center;
  }
  .preflight {
    padding-top: 20px;
    transform: scale(70%);
  }
  .titleline {
    transform: scale(70%);
  }
  .Section_Workgroup {
    display: flex;
    flex-direction: column;
    padding:10px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;
  }
  .SkillsContent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0px auto;
  }
  .SkillsContent h1,h2 {
    font-size: 25px;
    text-align: center;
    margin: 0px auto;
  }
  .SkillsContent li {
    font-size: 18px;
    text-align: center;
    margin: 0px auto;
  }
  .SkillsContent2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0px auto;
  }
  .SkillsContent2 h3,h4 {
    font-size: 25px;
    text-align: center;
    margin: 0px auto;
  }
  .Section_Tools {
    align-items: center;
  }  
  .SkillsContent2 li {
    font-size: 18px;
    text-align: center;
    margin: 0px auto;
  }  
  .Hdr_Tools {
  font-size: 25px;
  }
  .ToolIcons {
    display: grid;
    width: 75%;
    grid-area: hover;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    padding: 0px 10px 0px 10px;
    margin-bottom: 20px;
    margin-top: 30px;
    align-items: baseline;
    justify-content: center;
    text-align: center;
  }
}
